/* CSS da pagina inicial */
*{
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 250px;
    background-image: url("./../image/bg_header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.title {
    position: absolute;
    color: #fff;
    bottom: 0px;
    right: 0px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}

.menu {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(#666, #000);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.menu > a {
    text-decoration: none;
    color: #33b84c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.tag {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 0px 5px 0px 5px;
    margin-right: 5px;
}